  
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Philosopher&display=swap');

* {
    scroll-behavior: smooth; 
}




body {
    margin: 0;
    padding: 0;
    font-family: 'Philosopher', sans-serif;
    color: #542F05;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 10px 0;
}

h1 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
    background: rgb(239,237,197);
    
}

/* bootstrap nav css */

.navbar-light .navbar-nav .nav-link {
    color: #542F05;
    font-size: 1.6rem;
    font-family: 'Bad Script', cursive;
    padding-right: 1.7rem;
    padding-left: 1.7rem;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: orange !important;
}

/* main banner*/

main section#bnr {
    background: url('../image/111.svg') no-repeat center top/cover;
    height: 100vh;
    display: flex;
}

main section#bnr .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}


/* // */
@media (max-width: 900px) {
    main section#bnr .container .slogan {
        display: none;
    }
}

main section#bnr .container .slogan {
    font-size: 4rem;
    width: 5em;
    margin-top: 50px;
}

/* main about */
main section#about {
    background: url('../image/222.svg') no-repeat center top/cover;
    
}

main section#about .container {
     display: flex;
     flex-direction: column;
     padding: 0; 
 }

 main section#about h3 {
    display: flex;
    font-size: 3rem;
    color: #DE950D;
    text-transform: uppercase;
    padding: 2em 0 2em;
    margin: 0;
    text-align: center;
    justify-content: center;
 }

main section#about .container .boxes {
    display: flex;
    flex-direction: column;
    
}

@media (min-width: 660px) {
    main section#about .container .boxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }
}
 
main section#about .container .boxes .box1 {
    display: flex;
    justify-content: center;
flex-direction: column;
    align-content: center;
}
main section#about .container .boxes .box2 img {
    width: 100%;
}

main section#about .container .boxpack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
}

@media (min-width: 660px) {
    main section#about .container .boxpack {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 50px;
}
}

@media (min-width: 820px) {
main section#about .container .boxpack {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 20px;
        margin: 50px;
        justify-items: center;       
}
}

.bp {
    width: 200px;
    height: 200px;
    margin-top: 0;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    font-size: 2rem;
    padding: 2em 0 2em;
    text-align: center;
    justify-content: center;
    border: solid 10px orange;
    border-radius: 50%; 
}


main section#about .container .boxpack .bp .bpt {
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
}

main section#about .container .boxpack .bpn {
    font-size: 3rem;
    margin-block-end: 0;
}






/* work */

main section#work {
    background: url('../image/333.svg') no-repeat center top/cover;
}

main section#work .container h3 {
    display: flex;
    font-size: 3rem;
    color: #DE950D;
    text-transform: uppercase;
    padding: 2em 0 2em;
    margin: 0;
    text-align: center;
    justify-content: center;
 }


main section#work .container {
    display: flex;
    flex-direction: column;
    padding: 0; 
}

main section#work .container .box-meet h5 {
   font-size: 2rem;
   color: #DE950D;
   text-transform: uppercase;
   padding: 10px;
   margin: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}

main section#work .container .box-meet {
   display: flex;
   flex-direction: column;
   padding: 2em;
   
   
}

@media (min-width: 660px) {
   main section#work .container .box-meet {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       column-gap: 20px;
       row-gap: 20px;
       
   }
}

main section#work .container .box-meet .box1 {
   display: flex;
   justify-content: center;
    flex-direction: column;
   align-content: center;
}

main section#work .container .box-meet .box2 {
    display: flex;
    align-items: center;
}

main section#work .container .box-meet .box2 img {
   width: 100%;
}


/* gallery */

main section#galery {
    background: url('../image/444.svg') no-repeat center top/cover;   
}

main section#galery .container h3 {
    display: flex;
    font-size: 3rem;
    color: #DE950D;
    text-transform: uppercase;
    padding: 2em 0 2em;
    margin: 0;
    text-align: center;
    justify-content: center;
}


main section#galery .container img {
    margin: 0 auto;
    width: 100%;
    border: 5px solid transparent;
    outline: none;
}

/* .slick-prev:before {
    background: white;
    content: '→'; contant: url("image/arrow-prev.png"); } */

 /* .slick-next:before {
    background: white;
   content: '→'; contant: url("image/arrow-next.png");
}


/* Team */

main section#team {
    background: url('../image/222.svg') no-repeat center top/cover;
    display: flex;
}


main section#team h3 {
    display: flex;
    font-size: 3rem;
    color: #DE950D;
    text-transform: uppercase;
    padding: 2em 0 2em;
    margin: 0;
    text-align: center;
    justify-content: center;
}

/* team slider */
main section#team .tsl {
    display: flex;
    justify-content: center;
    
}

main section#team .tsl .slide h5 {
    font-size: 2rem;
    color: #DE950D;
    text-transform: uppercase;
    padding: 20px 0 20px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 main section#team .tsl .slide p {
     text-align: center;
 }

main section#team .tsl .slide {
display: flex!important;
flex-direction: column;
  align-items: center;
  outline: none;
}

main section#team .tsl .slide img {
    margin: 0 auto;
    width: 50%;
    border-radius: 50%;
}

main section#team .tsl .slide button {
    display: inline-block;
    width: 200px;
    padding: 8px;
    border: 1px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out,
    color 0.2s ease-out;
}

main section#team .tsl .slide button:hover,
main section#team .tsl .slide button:active {
    background-color: #fff;
    transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}



.hide {
    display: none;
}

.active {
    display: block;
}

.hidden {
    display: none;
    visibility: hidden;
}




/* Contact */

main section#contact {
    background: url('../image/333.svg') no-repeat center top/cover;
}
main section#contact .container h3 {
    display: flex;
    font-size: 3rem;
    color: #DE950D;
    text-transform: uppercase;
    padding: 2em 0 2em;
    margin: 0;
    text-align: center;
    justify-content: center;

}

.social {
    display: flex;
    justify-content: space-between;
}

main section#contact .container .contacts img {
    width: 30px;
    height: 30px;
}

.social .adress {
    font-size: 20px;
    text-align: start;
}

.network a{
    margin: 20px 20px 20px 20px;
}

@media (max-width: 480px) {
    main section#contact .container .contacts .social {
        display: flex;
        flex-direction: column;
    }

    .network {
        margin: 20px 0px 20px 0px;
    }
}



footer {
    background: rgb(239,237,197);
}

footer .container p {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 0 0;
}
